
html {
    font-family: sans-serif;
  }

  body {
    width: 50%;
    max-width: 800px;
    min-width: 480px;
    margin: 0 auto;
  }
  
  .formulario input[type="number"] {
    width: 200px;
  }

  .ultimoResultado {
    color: white;
    padding: 3px;
  }
